<header id="header-principal">
  <div class="header-contenedor">

    <a routerLink="/">
      <img src="assets/img/branding/boleham_co_logo.png"
      
           alt="Logo Boleham & Co."
           class="logo-boleham-co">
    </a>

    <h1 class="titulo-principal">Libros, Comics, Mangas & más</h1>

    <nav id="menu-pyme">
      <ul>
        <li><a class="link-nav" routerLink="/proximamente">Nuestras redes</a></li>
        <li><a class="link-nav" routerLink="/proximamente">Contacto</a></li>

        <li>
          <a id="btn-perfil" routerLink="/mi-perfil" class="link-nav" style="display:none;">
            Mi perfil 👤
          </a>

          <a id="btn-login" routerLink="/login" class="link-nav">
            Iniciar sesión 🔐
          </a>

          <a id="btn-logout" class="link-nav" style="display:none; cursor:pointer;">
            Cerrar sesión 🚪
          </a>

          <h2 id="saludo-usuario" class="text-center mt-4"></h2>
        </li>

        <li><a class="link-nav" routerLink="/proximamente">Ver carrito</a></li>
      </ul>
    </nav>

  </div>
</header>

