<header id="header-principal">
  <div class="header-contenedor">

    <a routerLink="/">
      <img src="assets/img/branding/boleham_co_logo.png"
           alt="Logo Boleham & Co."
           class="logo-boleham-co">
    </a>

    <h1 class="titulo-principal">Libros, Comics, Mangas & más</h1>

    <nav id="menu-pyme">
      <ul>
        <li><a class="link-nav" routerLink="/proximamente">Visitanos</a></li>

        <li>

          <!-- Mostrar MI PERFIL si hay sesión -->
          <a *ngIf="auth.sesion"
             id="btn-perfil"
             routerLink="/mi-perfil"
             class="link-nav">
            Mi perfil 👤
          </a>

          <!-- Mostrar LOGIN si NO hay sesión -->
          <a *ngIf="!auth.sesion"
             id="btn-login"
             routerLink="/login"
             class="link-nav">
            Iniciar sesión 🔐
          </a>

          <!-- Mostrar LOGOUT si hay sesión -->
          <a *ngIf="auth.sesion"
             id="btn-logout"
             class="link-nav"
             (click)="auth.cerrarSesion()"
             style="cursor:pointer;">
            Cerrar sesión 🚪
          </a>

          <!-- Saludo -->
          <h2 *ngIf="auth.sesion"
              id="saludo-usuario"
              class="text-center mt-4">
            Bienvenido {{ auth.sesion?.nombreUsuario }} ✨
          </h2>

        </li>

        <li><a routerLink="/carrito" class="nav-item">
          🛒 Ver Carrito ({{ carrito.obtenerItems().length }})
        </a>
        </li>
      </ul>
    </nav>

  </div>
</header>
